.overlay-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    z-index: -1;
}

@media (min-width: 1200px) {
    .col-xl-5th {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

#thumbnailContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
#thumbnailContainer::-webkit-scrollbar {
    display: none;
}
.thumbnail {
    flex-shrink: 0;
}

.selected-thumbnail {
    border: 3px solid #007bff; /* Couleur de la bordure */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6); /* Légère ombre pour un effet visuel */
    border-radius: 5px; /* Même arrondi que les vignettes */
}